#
# Connector translations
#
# @language       en_US
#
# @license        More in LICENSE.md
# @copyright      https://www.fastybird.com
# @author         Adam Kadlec <adam.kadlec@fastybird.com>
# @package        FastyBird:NsPanelConnector!
# @subpackage     Translations
# @since          1.0.0
#
# @date           10.07.23
#

base:
    messages:
        invalidRelation:
            heading: "Invalid relation"
            message: "Provided relation is not valid"

cmd:
    base:
        questions:
            continue: "Would you like to continue?"
            whatToDo: "What would you like to do?"
            exit: "Do you want to exit?"

        messages:
            noConnectors: "No NS Panel connectors registered in system."
            answerNotValid: "Selected answer: \"%s\" is not valid."

        mode:
            gateway: "NS Panel gateway"
            device: "NS Panel devices"
            both: "Combined"

        deviceType:
            unknown: "Unknown"
            plug: "Plug"
            switch: "Switch"
            light: "Light"
            curtain: "Curtain"
            contactSensor: "Contact Sensor"
            motionSensor: "Motion Sensor"
            temperatureSensor: "Temperature Sensor"
            humiditySensor: "Humidity Sensor"
            temperatureAndHumiditySensor: "Temperature and Humidity Sensor"
            waterLeakDetector: "Water Leak Detector"
            smokeDetector: "Smoke Detector"
            button: "Button"
            camera: "Camera"
            sensor: "Sensor"

        capability:
            power: "Power"
            toggle: "Toggle"
            brightness: "Brightness"
            color-temperature: "Color temperature"
            color-rgb: "Color RGB"
            percentage: "Percentage"
            motor-control: "Motor control"
            motor-reverse: "Motor reverse"
            motor-clb: "Motor calibration"
            startup-power: "Startup"
            startup-toggle: "Startup"
            camera-stream: "Camera stream"
            detect: "Detect"
            humidity: "Humidity"
            temperature: "Temperature"
            battery: "Battery"
            press: "Press"
            rssi: "RSSI"
            startup: "Startup"
            illumination-level: "Illumination level"
            fault: "fault"

        attribute:
            powerState: "Power State"
            toggleState: "Toggle State"
            brightness: "Brightness"
            colorTemperature: "Color Temperature"
            red: "Color Red"
            green: "Color Green"
            blue: "Color Blue"
            percentage: "Percentage"
            motorControl: "Motor Control"
            motorReverse: "Motor Reverse"
            motorClb: "Motor Calibration"
            startup: "Startup"
            detect: "Detect"
            humidity: "Humidity"
            temperature: "Temperature"
            battery: "Battery"
            press: "Press"
            rssi: "Signal RSSI"
            level: "Level"
            fault: "Fault"

    execute:
        title: "NS Panel connector - service"
        subtitle: "This action will run connector service"

        questions:
            execute: "Would you like to execute \"%connector%\" connector"
            select:
                connector: "Please select connector to execute"

        messages:
            connector:
                notFound: "Connector was not found in system."
                disabled: "Connector is disabled. Disabled connector could not be executed."
            error: "Something went wrong, connector was terminated."

    discover:
        title: "NS Panel connector - devices discovery"
        subtitle: "This action will run connector devices discovery"

        questions:
            execute: "Would you like to discover devices with \"%connector%\" connector"
            select:
                connector: "Please select connector to perform discovery"

        data:
            id: "ID"
            name: "Name"
            model: "Model"
            gateway: "NS Panel"

        messages:
            connector:
                notFound: "Connector was not found in system."
                disabled: "Connector is disabled. Disabled connector could not be executed."
            foundDevices: "Found %d new devices"
            noDevicesFound: "No devices were found"
            success: "Devices discovery was successfully finished"
            error: "Devices discovery failed. An error was logged."
            starting: "Starting NS Panel connector discovery..."
            stopping: "Stopping NS Panel connector discovery..."

    install:
        title: "NS Panel connector - installer"
        subtitle: "This action will create|update|delete connector configuration"

        actions:
            create:
                connector: "Create connector"
                gateway: "Connect NS Panel"
                device: "Create device"
                capability: "Create device capability"
            update:
                connector: "Edit connector"
                gateway: "Edit NS Panel"
                device: "Edit device"
                capability: "Edit device capability"
                attribute: "Edit capability attribute"
            remove:
                connector: "Delete connector"
                gateway: "Delete NS Panel"
                device: "Delete device"
                capability: "Delete device capability"
                attribute: "Delete capability attribute"
            manage:
                connector: "Manage connector"
                gateway: "Manage NS Panel"
                device: "Manage device"
                capability: "Manage capability attributes"
            list:
                connectors: "List connectors"
                gateways: "List NS Panels"
                devices: "List devices"
                capabilities: "List device capabilities"
                attributes: "List capability attributes"
            discover:
                devices: "Discover devices"
            nothing: "Nothing"

        questions:
            create:
                connector: "Would you like to create new connector configuration?"
                gateways: "Would you like to configure connector NS Panel(s)?"
                gateway: "Would you like to configure new NS Panel?"
                devices: "Would you like to configure NS Panel device(s)?"
                device: "Would you like to create new device in NS Panel?"
                capability: "Would you like to configure new device capability?"
            manage:
                gateways: "Would you like to manage connector NS Panels?"
                devices: "Would you like to manage NS Panel devices?"
            provide:
                connector:
                    identifier: "Provide connector identifier"
                    name: "Provide connector name"
                device:
                    identifier: "Provide device identifier"
                    name: "Provide device name"
                    value: "Provide attribute value"
                    address: "Provide NS Panel local IP address or domain"
                value: "Provide attribute value"
            select:
                item:
                    connector: "Please select connector to manage"
                    gateway: "Please select NS Panel to manage"
                    device: "Please select device to manage"
                    capability: "Please select device's capability"
                    attribute: "Please select capability's attribute"
                connector:
                    mode: "In what mode should this connector communicate with NS Panels?"
                device:
                    category: "Please select device category"
                    capabilityType: "What type of device capability you would like to add?"
                    attributeType: "What type of capability attribute you would like to add?"
                    mappedDevice: "Select device for mapping"
                    mappedDeviceChannel: "Select device channel for mapping"
                    mappedChannelProperty: "Select channel property for mapping"
                    valueMapping: "Select device value which will be mapped to: %value%"
                    value: "Please select attribute value"
            disable:
                connector: "Do you want to disable connector?"
            enable:
                connector: "Do you want to enable connector?"
            change:
                mode: "Do you want to change connector devices support?"
            isGatewayReady: "Is your NS Panel ready?"
            regenerateAccessToken: "Would you like to establish new connection with NS Panel?"
            connectAttribute: "Connect attribute with device?"

        answers:
            mode:
                gateway: "Only NS Panel gateway mode"
                device: "Only NS Panel third-party devices mode"
                both: "Both modes"
            none: "None"
            true: "True"
            false: "False"

        data:
            id: "ID"
            name: "Name"
            mode: "Mode"
            model: "Model"
            panelsCnt: "# NS Panels"
            ipAddress: "IP Address"
            category: "Category"
            capabilities: "Capabilities"
            type: "Type"
            attributes: "Attributes"
            value: "Value"
            gateway: "NS Panel"
            subDevicesCnt: "# Sub-devices"
            devicesCnt: "# Devices"

        messages:
            identifier:
                connector:
                    used: "This identifier is already used."
                    missing: "Connector identifier have to be provided."
                device:
                    used: "This identifier is already used."
                    missing: "Device identifier have to be provided."
            create:
                connector:
                    success: "Connector \"%name%\" was successfully created."
                    error: "Something went wrong, connector could not be created. An error was logged."
                gateway:
                    success: "NS Panel \"%name%\" was successfully created."
                    error: "Something went wrong, NS Panel could not be created. An error was logged."
                device:
                    success: "Device \"%name%\" was successfully created."
                    error: "Something went wrong, device could not be created. An error was logged."
                capability:
                    success: "Capability \"%name%\" was successfully created."
                    error: "Something went wrong, capability could not be created. An error was logged."
                attribute:
                    success: "Attribute \"%name%\" was successfully created."
                    error: "Something went wrong, attribute could not be created. An error was logged."
            update:
                connector:
                    success: "Connector \"%name%\" was successfully updated."
                    error: "Something went wrong, connector could not be updated. An error was logged."
                gateway:
                    success: "NS Panel \"%name%\" was successfully updated."
                    error: "Something went wrong, NS Panel could not be updated. An error was logged."
                device:
                    success: "Device \"%name%\" was successfully updated."
                    error: "Something went wrong, device could not be updated. An error was logged."
                capability:
                    success: "Capability \"%name%\" was successfully updated."
                    error: "Something went wrong, capability could not be updated. An error was logged."
                attribute:
                    success: "Attribute \"%name%\" was successfully updated."
                    error: "Something went wrong, attribute could not be updated. An error was logged."
            remove:
                connector:
                    confirm: "This action will remove \"%name%\" connector. This action can not be undone."
                    success: "Connector \"%name%\" was successfully removed."
                    error: "Something went wrong, connector could not be removed. An error was logged."
                gateway:
                    confirm: "This action will remove \"%name%\" NS Panel. This action can not be undone."
                    success: "NS Panel \"%name%\" was successfully removed."
                    error: "Something went wrong, NS Panel could not be removed. An error was logged."
                device:
                    confirm: "This action will remove \"%name%\" device. This action can not be undone."
                    success: "Device \"%name%\" was successfully removed."
                    error: "Something went wrong, device could not be removed. An error was logged."
                capability:
                    confirm: "This action will remove \"%name%\" capability. This action can not be undone."
                    success: "Capability \"%name%\" was successfully removed."
                    error: "Something went wrong, capability could not be removed. An error was logged."
                attribute:
                    confirm: "This action will remove \"%name%\" attribute. This action can not be undone."
                    success: "Attribute \"%name%\" was successfully removed."
                    error: "Something went wrong, attribute could not be removed. An error was logged."
            discover:
                starting: "Starting NS Panel connector discovery..."
                stopping: "Stopping NS Panel connector discovery..."
                success: "Devices discovery was successfully finished"
                error: "Devices discovery failed. An error was logged."
            gateway:
                prepare: "Now you have to prepare your NS Panel for pairing. Go to Settings, then to About and tap 7 times in a row on Name."
            accessToken:
                error: "Could not retrive access token from NS Panel"
            noGateways: "No NS Panels registered in NS Panel connector."
            noDevices: "No devices registered in selected NS Panels."
            noCapabilities: "No capabilities registered in selected device."
            noAttributes: "This device capability has not configured any attribute."
            noMultipleCapabilities: "Capability \"%type%\" is already created under this device"
            noMissingAttributes: "All available attributes for selected capability are configured"
            noHardwareDevices: "No devices registered in system which could be connected with NS Panel device"
            addressNotReachable: "NS Panel with address \"%address%\" is not reachable."
            removeDeviceFromPanelFailed: "Device \"%name%\" could not be removed from NS panel \"%panel%\""
            foundDevices: "Found %d new devices"
            noDevicesFound: "No devices were found"
